h1 {
    color: rgba(106, 29, 139, 0.801);
    font-size: xxx-large;
    font-family: 'Architects Daughter', cursive;
}

* {
    color: slategrey;
    font-size: medium;
}

* {
    font-family: 'Architects Daughter', cursive;
}

body {
    background-image: url("/assistcontrol/assets/img/grey-2661270.png");
}

body {
    background-color: white;
}

* {
    color: black;
    font-size: xxx-large;
}

#myh1 {
    color: black;
    font-size: xx-large;
}

.myclass {
    color: darkorchid;
    border-style: solid;
    border-color: black;
}

.reg {
    color: purple;
    border-style: solid;
    border-color: black;
}

#jun {
    padding: 3%;
}

#tex-header {
    padding: 0%;
    text-align: center;
    margin-bottom: 60px;
    font-size: 30px;
}